/* 
.communityRow {
  width:400px;
  height:250px;
    margin: auto;

} */

#root{
  background-color: rgb(225, 218, 218);
}
.block{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
.avatar {
  display: inline-block;
  flex: 0 0 auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(35, 49, 98); 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 49, 168, 0.881); 
}


/* .scrolling-wrapper  {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
} */
div.card {
  background-color: #fff;
  border: 1px solid #95989a;
  border-radius: 8px;
  box-shadow: rgba(90, 92, 94, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  padding: 15px;
  margin: 15px;
}

div.card-header {
  color: black;
  background-color: rgba(255, 255, 255, 0.381);
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  padding: 15px;
  margin: 15px;
}

div.text-muted.card-footer {
  border: 1px solid #eceff1;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;

}

div.communityRow.row > div{
  border: 1px solid #434c53;
  border-radius: 26px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 15px;
}


